<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-create__name, user-create__name-error, user-create__job, user-create__job-error, user-create__btn-create
-->

<div class="carCreate mt-20">
  <form [formGroup]="createUserForm">
    <div class="row card login-form">

      <div class="creteData pt-10">

        <div class="pa-10">
          <label class="titleData">Name</label>
          <input id="user-create__name" value="" formControlName="name" type="text" placeholder="enter a name" />
          <p class="form-hint error" *ngIf="nameValidate" id="user-create__name-error">Name is required</p>
        </div>

        <div class="pa-10">
          <label class="titleData">Job</label>
          <input id="user-create__job" value="" formControlName="job" type="text" placeholder="enter a job" />
          <p class="form-hint error" *ngIf="jobValidate" id="user-create__job-error">Job is required</p>
        </div>

        <div class="py-10">
          <button id="user-create__btn-create" class="w-100" (click)="createUser()" [disabled]="createUserForm.invalid">
            CREATE USER
          </button>
        </div>

      </div>
    </div>
  </form>
</div>